.coin-full-nav {
   position: absolute;
   top: 144px;
   right: 16px;
   background: #034191;
   border-radius: 18px;
   padding: 16px;
   display: flex;
   justify-content: space-between;
   gap: 48px;
   box-shadow: 0 16px 40px rgba(0, 0, 0, 0.3);
   z-index: 20;

   @media screen and (max-width: 1200px) {
      top: 100px;
      right: 24px;
   }

   @media screen and (max-width: 730px) {
      left: 16px;
      right: 16px;
      box-shadow: 0 16px 40px rgba(0, 0, 0, 0.3);
      top: 16px;
      padding-top: 60px;
      z-index: 10;
   }

   &__block {
      color: #fff;

      b {
         display: block;
         font-size: 16px;
         font-weight: 600;
         margin-bottom: 8px;
      }

      ul {
         display: flex;
         flex-direction: column;
         gap: 6px;

         li {
            a {
               font-size: 14px;
               text-decoration: none;
               opacity: 0.8;
               color: currentColor;

               &:hover {
                  opacity: 1;
               }
            }
         }
      }
   }
}
