@use "reset";
@use "animation";

html {
   font-family: var(--font-inter), serif, Helvetica;
   touch-action: manipulation;
}

.main-nav {
   padding: 12px;

   span {
      display: inline-block;
      margin: 0 6px;
   }

   a {
      color: #000;
      text-decoration: none;
   }
}
