@use "reset";
@use "theme";

html {
   font-family: var(--font-inter), Helvetica, Arial, sans-serif;
   touch-action: manipulation;
}

.main-nav {
   padding: 12px;

   span {
      display: inline-block;
      margin: 0 6px;
   }

   a {
      color: var(--fg);
      text-decoration: none;
   }
}

.theme-toggle {
   all: unset;
   cursor: pointer;
   color: var(--fg);
}
