@use "reset";
@use "colors";

html {
   font-family: var(--font-raleway), Helvetica, Arial, sans-serif;
   touch-action: manipulation;
}

html,
body {
   background-color: var(--bg);
   color: var(--fg);
}

[data-site="main"] {
   min-height: 100svh;
}

@keyframes stick-fly {
   0% {
      transform: rotate(var(--angle)) translateY(var(--start-offset)) scaleY(1);
      opacity: 1;
   }
   100% {
      transform: rotate(var(--angle)) translateY(var(--end-offset)) scaleY(0.6);
      opacity: 0;
   }
}

.artificial-scrolling {
   height: 3000px;
}
